<div class="container-fluid py-5 bg-light">
  <button class="btn btn-secondary mb-3" (click)="goBack()">
    ← Back to Pokédex
  </button>



  <div *ngIf="isLoading" class="text-center">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="!isLoading && pokemon" class="bg-white p-5 rounded shadow">
    <div class="row" [appPokemonTypeColor]="pokemon.type">
      <div class="col-md-4">

      </div>
      <div class="col-md-8">
        <h2 class="text-capitalize mb-4">{{ pokemon.name }}</h2>
        <button class="btn btn-primary mb-3 ms-2" (click)="deletePokemon()">
          Delete
        </button>
        <div class="mb-5">
          <h4 class="text-primary border-bottom pb-2 mb-3">Types</h4>
          <div>
            <span class="badge bg-primary me-2 mb-2" [appPokemonTypeColor]="pokemon.type">
              {{ pokemon.type }}
            </span>
          </div>
        </div>

        <div class="mb-5">
          <h4 class="text-primary border-bottom pb-2 mb-3">Physical Attributes</h4>
          <p><strong>HP:</strong> {{ pokemon.hp }}</p>
          <p><strong>Level:</strong> {{ pokemon.level }}</p>
        </div>


      </div>
    </div>
  </div>

  <div *ngIf="!isLoading && !pokemon" class="alert alert-danger mt-4">
    Pokémon not found.
  </div>
</div>